{% load static %}

<html>
<head>
    <title>Mon application Django</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<body>
</body>
</html>

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="
https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.min.css
" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RailTrip{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    {% block extra_css %}{% endblock %}
    
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>