{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'roadtrip/enregistrement.css' %}">

    
<div class="enregistrements-layout">
    <div class="div-menu-toggle">
        <button onclick="toggleSidebar()" class="menu-toggle"><i class="ri-menu-line"></i></button>
    </div>        
    <div class="sidebar">
        <ul class="menu">
            <div class="close-menu">
                <button onclick="toggleSidebar()" class=""><i class="ri-close-line"></i></button>
            </div>
            <h2 class="logo logo-menu">RailTrip</h2>
            <li><a href="{% url 'enregistrements' %}"><i class="ri-save-line"></i> Mes enregistrements</a></li>
            <li><a href="{% url 'roadtrip' %}"><i class="ri-road-map-line"></i> Créer un roadtrip</a></li>
            <li><a href="{% url 'favoris' %}"><i class="ri-heart-line"></i> Mes favoris</a></li>
            <li><a href="{% url 'consulter' %}"><i class="ri-search-line"></i> Consulter des roadtrips</a></li>
            <li><a href="{% url 'logout' %}"><i class="ri-close-line"></i> Se déconnecter</a></li>
        </ul>
    </div>

    <div class="container-profile">
        <h1 class="profile-title">Mes Enregistrements</h1>

        <div class="trajet-results">
            {% for roadtrip in roadtrips %}
            <div>
                <img src="../../static/img/roadtrip.webp" alt="image roadtrip" class="img-roadtrip">
                <div class="content-roadtrips">
                    <h5 class="card-title">
                        {% for etape in roadtrip.etapes %}
                            {{ etape|capfirst }}{% if not forloop.last %} → {% endif %}
                        {% endfor %}
                    </h5>
                    <p><strong>Départ :</strong> {{ roadtrip.depart }}</p>
                    <p><strong>Durée :</strong> {{ roadtrip.nbjour }} jours</p>
                    <p>{{ roadtrip.description }}</p>
                    <form action="{% url 'delete_roadtrip' roadtrip.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button-supprimer"><i class="ri-delete-bin-line"></i>Supprimer</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if not roadtrips %}
        <p class="text-center my-4">Vous n'avez aucun roadtrip enregistré pour le moment.</p>
        {% endif %}
    </div>
</div>
<script>
    function toggleSidebar() {
        const sidebar = document.querySelector('.sidebar');
        sidebar.classList.toggle('open');
    }
</script>
{% include '../includes/footer.html' %}
{% endblock %}