{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="logo">RailTrip</div>
    <h2>Connexion</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <div class="error-message">{{ field.errors|striptags }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn login-btn">Se connecter</button>
    </form>

    {% endblock %}
</div>
</body>
</html>